SSLProtocol {{ apache_ssl_protocol }}
SSLCipherSuite '{{ apache_ssl_cipher_suite }}'
{% if apache_ssl_honor_cipherorder %}
SSLHonorCipherOrder On
{% endif %}
{% if apache_vhosts_version == "2.4" %}
SSLCompression off
{% endif %}
{% if apache_dh_use and apache_vhosts_version == "2.4" %}
SSLOpenSSLConfCmd DHParameters "{{ apache_dh_filename }}"
{% endif %}
{% if apache_tls_hsts_enable %}

# HSTS enabled (63072000 seconds: 1 year)
<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age={{ apache_tls_hsts_time }}"
</IfModule>
{% endif %}
